body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('https://wallpaperaccess.com/full/3352658.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #708090;
    color: #fff;
    text-align: center;
    padding: 20px;
	 background-image: url('https://e0.pxfuel.com/wallpapers/638/461/desktop-wallpaper-animal-tumblr-background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    background-color: #708090;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

#content {
    flex: 1;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #708090;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    margin-bottom: 10px;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 600px) {
    body {
        background-color: #fff;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 600px) {
    nav {
        justify-content: space-around;
    }

    .importance-section {
        flex-direction: row;
    }

    .importance-text {
        flex: 1;
        margin-right: 20px;
    }
}

@media screen and (min-width: 900px) {
    #content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

img {
    max-width: 100%;
    height: 40%;
    margin: 0 auto; /* Pra centralizar a imagem */
}

